{% block post_list %}
<section class="post-list">
  {% for post in posts %}
      <article class="post">
        <header>
          <div>
            <!-- <h1>{{ post['title'] }}</h1> -->
            <div class="about">by <span><a class="post-list-username" href="{{ url_for('roar.show_account', username=post['username']) }}"><strong>{{ post['username'] }}</strong></a></span> on {{ post['created'].strftime('%Y-%m-%d') }}. <i>{{ post['applauds'] }} likes</i></div>
          </div>
          {% if g.user['id'] == post['author_id'] %}
            <a class="action" href="{{ url_for('roar.update', id=post['id']) }}">Edit</a>
          {% endif %}
        </header>
        <p class="roar">{{ post['roar'] }}</p>
        <!-- If it's not the current user, add an applaud button. -->
        {% if g.user and g.user['id'] != post['author_id'] %}
            {% if post['id'] in applauds %}
              <!-- UNapplaud -->
              <span>(<a id="applaud" description="unapplaud" post_id="{{post['id']}}" class="action" href="#">♥</a>)</span>
            {% else %}
              <!-- applaud -->
              <span>(<a id="applaud" description="applaud" post_id="{{post['id']}}" class="action" href="#">♡</a>)</span>
            {% endif %}
        {% elif not g.user %}
          <span id="span-applaud">(<a id="applaud-login" href="{{ url_for('auth.login') }}">applaud</a>)</span>
        {% endif %}
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %}
  {% endfor %}
</section>

{% if g.user %}
<script>
  $(function() {
    $('a#applaud').bind('click', function() {
      let postID = parseInt($(this).attr('post_id')); // get post id of the clicked pos
      let description = $(this).attr('description');
      let element = $(this);

      $.getJSON($SCRIPT_ROOT + `/applaud`, { // $SCRIPT_ROOT is set in the base.html file.
        post_id: postID
      }, function(data) {
        if (typeof data == "string") { // this means it returned HTML for the login page.
          window.location.replace("/auth/login");
        } else {
          let newText = ""
          
          if (description == "applaud") {
            newText = "♥"
            element.attr('description', 'unapplaud')
          } else {
            newText = "♡"
            element.attr('description', 'applaud')
          }

          element.text(newText);
        }
      });
      return false;
    });
  });
</script>
{% endif %}
{% endblock %}
