html, body {
  height: 100%;
  position: relative;
  width: 100%
}

#applaud {
  text-decoration: none;
  color: rgba(255, 0, 0, 0.66);
}

.show-account-nav li {
  display: inline;
}

.show-account-nav li:not(:last-child)::after {
  content: " or ";
}

.post-list-username {
  text-decoration: none;
  color: inherit;
}

.post-list-username:hover {
  text-decoration: underline;
  color: black;
}

.content {
  padding: 1.5em;
}

p.roar {
  /* border-style: double; */
    width: fit-content;
}

.post .about {
  color: #858585;
}

.search .global-header {
  position: fixed;
}
.search .global-header {
  position: static;
}

.global-header {
  *zoom: 1;
  border-bottom: 1px #ccc solid;
  background: #eee;
  /* height: 100%; */
  line-height: 1em;
  min-height: 1.1em;
  padding: 0.6em 0;
  width: 100%;
  z-index: 1003;
}

.global-header ul {
  padding-right: 1em;
  float: right;
  font-size: .9em;
  margin-top: 2px;
  position: absolute;
  right: 0;
}

.header-logo {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  float: left;
  line-height: 1;
  margin: 0 5px;
  padding: 0.25em;
  text-decoration: none;
}

.global-header ul li {
  display: inline;
}

.global-header ul li:not(:last-child)::after {
  content: " | ";
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  /* border: 0; */
  /* font-size: 100%; */
  /* font: inherit; */
  vertical-align: baseline;
  font-family: sans-serif;
}
/* html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
  }
  
  body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    color: #377ba8;
    margin: 1rem 0;
  }
  
  a {
    color: #377ba8;
  }
  
  hr {
    border: none;
    border-top: 1px solid lightgray;
  }
  
  nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
  }
  
  nav h1 {
    flex: auto;
    margin: 0;
  }
  
  nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
  }
  
  nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
  }
  
  .content {
    padding: 0 1rem 1rem;
  }
  
  .content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
  }
  
  .content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
  }
  
  .flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
  }
  
  .post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
  }
  
  .post > header > div:first-of-type {
    flex: auto;
  }
  
  .post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  
  .post .about {
    color: slategray;
    font-style: italic;
  }
  
  .post .body {
    white-space: pre-line;
  }
  
  .content:last-child {
    margin-bottom: 0;
  }
  
  .content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
  }
  
  .content label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .content input, .content textarea {
    margin-bottom: 1em;
  }
  
  .content textarea {
    min-height: 12em;
    resize: vertical;
  }
  
  input.danger {
    color: #cc2f2e;
  }
  
  input[type=submit] {
    align-self: start;
    min-width: 10em;
  } */